body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.backimg{
  background-image: url(/src/img/alumni.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.text{
  text-align: center;
  background-color: aqua;
  margin-top: 5%;
  margin: 25%;
}